---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: &clusterName home-ops

endpoint: https://k8s.internal.kreigan.com:6443

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.10.5
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.33.3

allowSchedulingOnControlPlanes: true

additionalApiServerCertSans: &sans
  - k8s.internal.kreigan.com
  - &talosControlplaneVip 192.168.21.140
  - 127.0.0.1 # KubePrism

cniConfig:
  name: none

nodes:
  - hostname: ruby.internal.kreigan.com
    ipAddress: 192.168.21.131
    controlPlane: true
    nodeLabels:
      intel.feature.node.kubernetes.io/gpu: "true"
    installDisk: /dev/sda
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:bd:b0:5c
        addresses:
          - 192.168.21.131/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.21.1
        vip:
          ip: *talosControlplaneVip
      - deviceSelector:
          physical: true # avoid recursive links
          hardwareAddr: bc:24:11:53:99:02
        dhcp: false
        vlans:
          - vlanId: 55
            addresses:
              - "10.1.5.3/24"
            mtu: 9000
          - vlanId: 100
            addresses:
              - "10.1.10.2/24"
            mtu: 9000
    userVolumes:
      - name: extra
        provisioning:
          diskSelector:
            match: "!disk.rotational && !system_disk"
          maxSize: 100GB
        filesystem:
          type: xfs

controlPlane:
  nodeLabels:
    topology.kubernetes.io/region: *clusterName
    topology.kubernetes.io/zone: m

  machineFiles:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins]
          [plugins."io.containerd.grpc.v1.cri"]
            enable_unprivileged_ports = true
            enable_unprivileged_icmp = true
        [plugins."io.containerd.grpc.v1.cri".containerd]
          discard_unpacked_layers = false
        [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
          discard_unpacked_layers = false

  schematic:
    customization:
      extraKernelArgs:
        - intel_iommu=on # PCI Passthrough
        - iommu=pt # PCI Passthrough
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/qemu-guest-agent

  nameservers:
    - 192.168.21.150

  certSANs: *sans

  patches:
    # Enable host dns
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false

    # Configure kubelet
    - |-
      machine:
        kubelet:
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 192.168.21.0/24

    # Enable MutatingAdmissionPolicy
    - |-
      cluster:
        apiServer:
          extraArgs:
            runtime-config: admissionregistration.k8s.io/v1alpha1=true
            feature-gates: MutatingAdmissionPolicy=true

    # Configure cluster
    - |-
      cluster:
        coreDNS:
            disabled: true
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway

    # Configure etcd
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 192.168.21.0/24

    # Configure NFS mount options
    - |
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nconnect=16

    # Configure static host entries
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: 192.168.21.140
              aliases:
                - k8s.internal.kreigan.com

    # Configure custom sysctls
    - |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: 8192    # Watchdog
          fs.inotify.max_user_watches: 1048576   # Watchdog
          user.max_user_namespaces: 11255        # User namespaces
          net.core.rmem_max: 67108864            # Cloudflared / QUIC
          net.core.wmem_max: 67108864            # Cloudflared / QUIC

    # Configure udev rules
    - |-
      machine:
        udev:
          rules:
            # Intel GPU
            - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - actions-runner-system
              - system-upgrade
